.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
.vscode/
# Vanilla data packs.
# Download the vanilla data packs into Data/<version> with DPReader's
# Scripts/extract_vanilla_datapack.py. Packs are automatically bundled
# upon running the web build; they can be manually produced via
# Scripts/generate_default_datapack_bundle.py --version <version>.
Data/
Web/*
# Swift stuff
.dappermap
.swiftpm-cache
.swiftpm-config
.swiftpm-scratch
.swiftpm-sdks
.swiftpm-security
